.approved {
	background: #C1F0FF;
	padding-bottom: 30px;

	.row {
		position: relative;
		z-index: 10;
		display: flex;
	}

	.text {
		padding-top: 110px;
		width: 815px;
		flex-shrink: 0;
		height: 757px;
		position: relative;

		.bg {
			z-index: -1;
			right: 0;
			top: 0;
			position: absolute;
			height: 757px;
			width: 1819px;

			img {
				width: auto;
				height: 100%;
			}
		}

		&-inn {
			text-align: left;
			padding-left: 165px;
			max-width: 600px;
			box-sizing: border-box;

			h2 {
				text-align: left;
				padding-bottom: 50px;
			}

			p {
				padding-bottom: 25px;
			}
		}
	}

	.img {
		position: relative;
		margin-left: -200px;
		margin-right: 0;
		margin-top: 143px;
		width: 622px;

		&>img {
			position: relative;
			z-index: 1;
		}

		.panda {
			position: absolute;
			width: 176px;
			top: -142px;
			right: 176px;
		}

		.panda1 {
			margin-bottom: -10px;
		}

		.panda2 {
			margin-left: -10px;
			margin-top: -50px;
			margin-bottom: 0;
			position: relative;
			z-index: 2;
		}
	}
}