@import 'reset';
@import 'fonts';

:root {
	// --font-main:;
	--font-avenir: 'Avenir';
	--font-myriad-pro: 'Myriad Pro';
	--font-chalkboard-se: 'chalkboardSe';
	--font-avenir-next: 'Avenir Next';
	--font-avenir-next-demi: 'Avenir Next Demi';
	--font-source-sans-pro: 'Source Sans Pro';
}